.container {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  repeat(10, 1fr);
    margin: 0 auto;
    background: radial-gradient(circle, #485563,#29323c);
    border-radius: 20px;
}

.bead {
    width: 30px;
    margin: 15px;
}