.button {
    background: linear-gradient(#1488CC, #2B32B2);
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 5px rgb(196, 196, 196);
    font-size: 25px;
    color: #fff;
    display: block;
    margin: 20px auto;
}

.button:hover {
    background: linear-gradient(#0180ca, #0009b1);
    color: #fff;
}

.button:active {
    background: linear-gradient(#0180ca, #0009b1);
    box-shadow: 0 2px rgb(196, 196, 196);
    transform: translateY(4px);
    color: #fff;
}

.App {
    margin-bottom: 20px
}